{%extends 'layout.html'%}
{%block content%}
<div>
    <h1>About Me</h1>
    <h2>"Inspirational quote!"</h2>
    <p>This is the about page.</p>
    <p>My name is Casey and I'm attempting to learn how to program as an old man.</p>
    <p>I like to think I'm adaptable and quick to learn. I guess we will find out how adaptable!</p>
    <p>My professional background spans multiple industries, from corporate to non-profit.</p>
    <p>I like piña coladas and getting caught in the rain.</p>
    <p>My favorite musician is Rick Astley of course, just like everyone else.</p>
    <p>I wrote a novel but I'm too embarrassed to let anyone read it, let alone submit it for publishing.</p>
    <p>I'm pretty bad at talking about myself...</p>
</div>
{%endblock%}
