{%extends 'layout.html'%}
{%block content%}
<div class='home'>
    <h1>Homepage</h1>
    <h2>The Journey</h2>
    <h3>AKA I'm freaking out about how much I know I don't know.</h3>
    <p>Welcome to the home page! This site is an incubator for experimenting with
      full stack development. <br />I will be starting as a complete novice,
      and hopefully progressing to a point where I have some <br />clue about how
      to build a webpage based on a python backend script. </p>
    <p>And this is another paragraph. Hopefully this website gets less ugly over time...</p>
</div>
{%endblock%}
